#wrapper
  #header
    #logo
      %h1
        %a{ :href => "#" }
          EarthlingTwo
      %p
        by
        %a{ :href => "http://www.nodethirtythree.com" }
          nodethirtythree
        +
        %a{ :href => "http://www.freecsstemplates.org/" }
          fct
  /
    end #header
  #menu
    %ul
      %li.current_page_item
        %a{ :href => "#" }
          Home
      %li
        %a{ :href => "#" }
          Services
      %li
        %a{ :href => "#" }
          Portfolio
      %li
        %a{ :href => "#" }
          About
      %li
        %a{ :href => "#" }
          Contact
  /
    end #menu
  #page
    #content
      #banner
        %img{ :src => "images/img07.jpg", :alt => "" }
      .post
        %h2.title
          %a{ :href => "#" }
            Lorem ipsum dolor sit amet
        %p.meta
          Aliquam sit amet tempus sed consequat
        .entry
          %p
            This is
            %strong
              EarthlingTwo
            , a free template by
            %a{ :href => "http://www.nodethirtythree.com" }
              nodethirtythree
            and
            %a{ :href => "http://www.freecsstemplates.org" }
              Free CSS Templates
            \.  It’s kind of a sequel to an older template I did for FCT a long time ago named
            %a{ :href => "http://www.freecsstemplates.org/preview/earthling" }
              Earthling
            \.
          %p
            This template is released under the
            %a{ :href => "http://creativecommons.org/licenses/by/3.0/" }
              Creative Commons Attribution
            license, so use it however you like, just keep the links back to our sites. The scenic photo above is a public domain work from
            %a{ :href => "http://www.pdphoto.org" }
              PDPhoto.org
            \. Be sure to check out my other work at
            %a{ :href => "http://www.nodethirtythree.com/" }
              my site
            or follow me on
            %a{ :href => "http://twitter.com/nodethirtythree/" }
              Twitter
            for news and updates. Have fun.
          %p.links
            %a.more{ :href => "#" }
              Read More
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            %a.comments{ :href => "#" }
              Comments (33)
      %div{ :style => "clear: both;" }
        \&nbsp;
    /
      end #content
    #sidebar
      %ul
        %li
          %h2
            Veroeros sit dolore
          %p
            %strong
              Donec turpis orci
            facilisis et ornare eget, sagittis eu massa. Quisque dui diam, euismod et lobortis sed etiam lorem ipsum dolor etiam nullam et faucibus.
            %a{ :href => "#" }
              More…
        %li
          %h2
            Categories
          %ul
            %li
              %span
                09.13.09
              %a{ :href => "#" }
                Vestibulum risus vitae
            %li
              %span
                09.13.09
              %a{ :href => "#" }
                Condimentum et molestie
            %li
              %span
                09.13.09
              %a{ :href => "#" }
                Facilisis sed vestibulum
            %li
              %span
                09.13.09
              %a{ :href => "#" }
                Ipsum primis et sed luctus
            %li
              %span
                09.13.09
              %a{ :href => "#" }
                Ultrices posuere nulla
            %li
              %span
                09.13.09
              %a{ :href => "#" }
                Accumsan lorem sodales
            %li
              %span
                09.13.09
              %a{ :href => "#" }
                Scelerisque consectetur
            %li
              %span
                09.13.09
              %a{ :href => "#" }
                Maecenas quam aliquet
    /
      end #sidebar
    %div{ :style => "clear: both;" }
      \&nbsp;
  /
    end #page
#footer-content
  .column1
    %h2
      Volutpat quisque sed et aliquam
    %p
      %strong
        Maecenas ut ante
      eu velit laoreet tempor accumsan vitae nibh. Aenean commodo, tortor eu porta convolutpat elementum. Proin fermentum molestie erat eget vehicula. Aenean eget tellus mi. Fusce scelerisque odio quis ante bibendum sollicitudin. Suspendisse potenti. Vivamus quam odio, facilisis at ultrices nec, sollicitudin ac risus. Donec ut odio ipsum, sed tincidunt.
      %a{ :href => "#" }
        Learn more…
  .column2
    %ul.list
      %li
        %a{ :href => "#" }
          Tempor accumsan vitae sed nibh dolore
      %li
        %a{ :href => "#" }
          Aenean commodo, tortor eu porta veroeros
      %li
        %a{ :href => "#" }
          Fermentum molestie erat eget consequat
      %li
        %a{ :href => "#" }
          Donec vestibulum interdum diam etiam
      %li
        %a{ :href => "#" }
          Vehicula aenean eget sed tellus blandit
#footer
  %p
    (c) 2009 Sitename.com. Design by
    %a{ :href => "http://www.nodethirtythree.com" }
      nodethirtythree
    and
    %a{ :href => "http://www.freecsstemplates.org" }
      Free CSS Templates
    \.
/
  end #footer
